{% extends "frontend/admin/layout.html" %}
{% block content %}

<h2>Edit Comment</h2>

<form method="POST" id="editform">
  <p>
    <b>Article:</b> <a href="{{ comment.article.url }}">{{ comment.article.title|default:comment.article.url }}</a>
  </p>
  <p>
    <b>Author:</b> <a href="{{ comment.author.url }}">{{ comment.author.name }}</a> {% if comment.author.email %}(<a href="mailto:{{ comment.author.email }}">{{ comment.author.email }}</a>){% endif %}
  </p>
  <p>
    <b>IP:</b> {{ comment.author_ip }}
  </p>
  <p>
    {{ form.comment }}
    {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
  </p>
  <p>
    <input type="submit" name="save" value="Save Comment" class="buttonsave" />
    <input type="submit" name="delete" value="Delete Comment" class="buttondelete" />
  </p>
</form>

{% endblock %}
