{% extends "admin/layout.html" %}
{% block content %}

<h1>Edit Comment</h1>

<form method="POST">
  <p>
    <b>Article:</b> <a href="{{ comment.article.url }}">{{ comment.article.title|default:comment.article.url }}</a>
  </p>
  <p>
    <b>Author:</b> <a href="{{ comment.author.url }}">{{ comment.author.name }}</a> {% if comment.author.email %}(<a href="mailto:{{ comment.author.email }}">{{ comment.author.email }}</a>){% endif %}
  </p>
  <p>
    {{ form.comment }}
    {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
  </p>
  <p>
    <input type="submit" value="Save!" />
  </p>
</form>

{% endblock %}
