#comments {
    margin: 0;
    padding: 0;
    margin-top: 30px;

    font-family: Helvetica, Verdana, sans;
    font-size: 11pt;    
}
#comments .odd {
    background-color: #F0F0F0;
}
#comments .comment-item {
    padding: 10px;
    clear: both;
}
#comments .comment-item img {
    display: block;
    float: left;
    margin-right: 10px;
}
#comments .comment-item .author {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
#comments .comment-item .author a {
    text-decoration: none;
    color: #2962A7;
}
#comments .comment-item .author a:hover {
    text-decoration: underline;
}
#comments .comment-item .content {
    min-height: 80px;
    max-width:  500px;
    float: left;
}
#comments .comment-item:after {
    display: block;
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
}
#comments form {
    clear: both;
    margin-top: 20px;
    margin-left: 10px;
}
#comments form label {
    float: left;
    display: block;
    width: 80px;

    margin-top: 10px;
    color: #333;
}
#comments form input {
    border: 1px solid black;
    outline: 0;
    height: 20px;
    width: 296px;
    
    margin-top: 10px;
    clear: right;
    padding: 2px;
}
#comments form .help {
    display: block;
    margin-left: 80px;
    color: #666;
    font-size: 12px;
}
#comments form textarea {
    border: 1px solid black;
    width: 290px;
    height: 80px;
    outline: 0;
    margin-top: 10px;
    clear: right;    
    padding: 5px;
}
#comments form .required label {
    font-weight: bold;
}
#comments .errorlist {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #9F3737;    
}
#comments .errorlist li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: 80px;
}
#comments .errorlist li:before {
    content: "- ";
}
#comments .errornote {
    font-weight: bold;
    color: #9F3737;        
}
#comments .button {
    margin-left: 80px;
    width: 200px;
    height: 28px;
    line-height: 20px;
    font-size: 11pt;
    font-weight: bold;
    background-color: #d8d8d8;
    color: #111;
    border: 1px solid #888;
    border-radius: 5px;
    cursor: pointer;
}